body{
    margin: 0%;
    background: radial-gradient(rgb(234, 207, 106), rgb(223, 154, 43));
    background-attachment: fixed;
} 
#upper-div{
    position: absolute;
    display: flex;
    background: linear-gradient( rgb(242, 177, 112) 90%,rgba(158, 84, 27, 0.827));
    width: 100%;
    height: 120px;
    padding-bottom: 20px;
}
#downloadbutton{
    border: none;
    position: absolute;
    width: 390px;
    height: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#downloadimg{
    display: none;
    position: relative;
    width: 360px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    image-rendering: pixelated;
}
#downloadbutton::after{
    content: "PLAY NOW!";
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    pointer-events: none;
    
    transform: translate(-50%,-50%)
}
#downloadimg:hover{

    image-rendering: pixelated;
    scale: 1.05;
    filter: drop-shadow(0px 2px 1px rgb(79, 36, 0))
}
#downloadimg:active{
    translate: 0px 8px;
    scale: 0.98;

}

#nav{
    position: static;
    height: 200px;
}
#imageholder{
    position: relative;
    top: 10px;
    width: 100%;
    height: 900px;
    background: radial-gradient(rgba(68, 39, 39, 0.464) 60%,rgba(0, 0, 0, 0.656));
    overflow: hidden;
    overflow: hidden;
    -webkit-mask-image: linear-gradient( transparent, black 20% , black 90% , transparent);
    mask-image: linear-gradient( transparent, black 20% , black 90% , transparent);
}
#videobg{
    transition: 0.3s;
    position: absolute;
    z-index: -1;
    min-width: 100%;
    
}
#videobg:hover{
    transition: 0.6s;
    scale: 1.1;
}
#imageholder:hover #downloadbutton{
    animation: button 0.2s ease-in;
    display: block;
}
@keyframes button {
    from{
        opacity: 0;
        translate: 0 200px;
    }
    to{
        opacity: 1;
        translate: 0 0;
    }
}