body{
    margin: 0%;
    background: radial-gradient(rgb(234, 207, 106), rgb(223, 154, 43));
    background-attachment: fixed;
} 
#upper-div{
    transition: 0.5s ease-out;
    position: absolute;
    display: flex;
    background: linear-gradient(rgb(98, 45, 2) 85%,rgb(16, 0, 0));
    width: 100%;
    height: 50px;
    border: 1px brown solid;
    border-bottom-left-radius: 30px;
    z-index: 1;
    border-bottom-right-radius: 30px;
    justify-content: center;
}
#nav-logs{
    position: absolute;
    bottom: 10px;
    left: 55%;
    width: 500px;
    height: 100%;
    border: 1px red solid;
    font-size: larger;
    color: rgb(255, 203, 139);
}
#nav-logs::after{
    content: "Mocondo ISLAND bash is a Hackclub Mocondo Event Themed game,You are Trapped on an island called "MOCONDO" it's a magical island,with different talking animals some are friendly some not so much";
    position: relative;
    top: 5px;
    font-size: x-small;
    font-size: 13px;
    white-space: nowrap;
    color: rgba(17, 8, 1, 0.944);
    display: block;
}
#nav-logs::before{
    position: relative;
    color: red;
    content: "(pre-release 0.1)";
    display: inline-block;
    font-size: 15px;
}
#upper-div button{
    width: 150px;
    height: 60px;
    position: absolute;
    background: radial-gradient(rgb(252, 217, 156) 60%, rgb(238, 187, 100));
    font-family: 'Times New Roman', Times, serif;
    border: 5px rgb(141, 66, 9) solid;
    font-weight: 600;
    font-size: large;
    font-style: oblique;
    color: red;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-radius: 20px;
    right: 40px;
    bottom: 10px;
}
.fa-angles-down{
    position: absolute;
    width: 30px;
    height: 30px;
    color: rgb(126, 80, 11);
    -webkit-text-stroke: red 2px;
    filter: drop-shadow(0 0 6px rgb(51, 26, 0));
    transform: scaleX(1.5);
    bottom: 10px;
}
#upper-div:hover{
    transition: 0.3s;
    cursor: pointer;
    height: 70px;

}
#upper-div.stretching{
    animation: stretch 0.7s ease-out;
}
#upper-div.stretched{
    cursor: auto;
    height: 400px;
}
@keyframes stretch {
    from{height: 60px;}
    to{height: 420px;}
    
}
.fa-angles-down:hover{
    transform: scaleX(1.9);
    transition: 0.2s;
    color: brown;
    bottom: 20px;
}
#upper-div.stretched>.fa-angles-down{
    rotate: 180deg;
}
#mocondotxt{
    position: absolute;
    width: 80%;
    height: 50%;
    left: 50%;
    translate: -50%;
    pointer-events: none;
    background: url(img/Macondo\,\ build\ hardware\ or\ software\,\ ship\ it\,\ get\ rewarded\ _\ Macondo\ -\ Google\ Chrome\ 20-05-2026\ 15_42_05.png);
    background-size: cover;
    filter: drop-shadow(0 0 4px rgb(169, 137, 22));
}
#downloadbutton{
    border: none;
    position: absolute;
    width: 390px;
    transition: 0.5;
    height: 230px;
    display: none;
    flex-direction: column;
    align-items: center;
    background: none;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#downloadimg{
    display: none;
    position: relative;
    width: 360px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    image-rendering: pixelated;
}
#downloadbutton::after{
    transition: 0.3s;
    content: "PLAY NOW!";
    font-size: 40px;
    font-family:"myfonts";
    font-size: 65px;
    color: rgba(133, 222, 0, 0.959);
    -webkit-text-stroke: rgb(2, 166, 2) 2px ;
    filter: drop-shadow(0 0 3px green);
    position: absolute;
    top: 50%;
    left: 50%;
    pointer-events: none;
    white-space: nowrap;
    transform: translate(-50%,-50%)
}
#downloadbutton:hover::after{
    transition: 0.2s;
    font-size: 70px;
    -webkit-text-stroke: rgb(255, 255, 255) 2px ;
    filter: drop-shadow(0 0 7px rgb(249, 255, 249));
}
#downloadbutton:active::after{
    font-size: 55px;
    color: rgb(1, 77, 1);
}
#downloadimg:hover{

    image-rendering: pixelated;
    scale: 1.05;
    filter: drop-shadow(0px 2px 1px rgb(79, 36, 0))
}
#downloadimg:active{
    translate: 0px 8px;
    scale: 0.98;

}


#imageholder{
    position: relative;
    width: 100%;
    height: 900px;
   
    overflow: hidden;
    overflow: hidden;
    -webkit-mask-image: linear-gradient( transparent, black 0% , black 100% , transparent);
    mask-image: linear-gradient( transparent, black 0% , black 100% , transparent);
}
#videobg{
    position: relative;
    top: 0px;
    transition: 0.3s;
    position: absolute;
    z-index: -1;
    min-height: 100%;
    min-width: 100%;
    
}
#videobg:hover{
    transition: 0.6s;
    scale: 1.1;
}
#imageholder:hover #downloadbutton{
    animation: button 0.2s ease-in;
    display: block;
}
@keyframes button {
    from{
        opacity: 0;
        translate: -20 200px;
        scale: 0;
        height: 0px;
    }
    to{
        height: 250px;
        scale: 1.1;
        opacity: 1;
        translate: 0 0;
    }
}
#about{

}
#about h1{
    
    position: absolute;
    left: 50px;
    translate: 0 -50%;
    font-family: "regular";
    font-size: 80px;
    color: brown;
}
#about p{
    position: relative;
    border: solid 1px red;
    width: 50%;
    top: 200px;
}
@font-face {
    font-family: "myfonts";
    src: url(fonts/vladimir.ttf) format(truetype);
}
@font-face {
    font-family: "regular";
    src: url(fonts/Regular.otf);
}